.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    cursor: pointer;
    z-index:10;
}

.container{
    position: relative;
    width:500px;
    height:auto;

}

#user-input{
    height:100%;
    width:100%;
}